body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.video-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #666;
}

video {
  max-width: 100%;
  border-radius: 5px;
}

.subtitle {
  background-color: rgba(0, 0, 0, 0.7);
  color: #000000;
  font-size: 36px; /* Increased font size */
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.subtitle,
.speech {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.retry-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
}

.retry-button:hover {
  background-color: #0056b3;
}
